<md-dialog class="create-todo">
  <div slot="headline">
    <md-icon-button
      form="create-form"
      value="close"
      aria-label="Close dialog"
      role="presentation"
    >
      <md-icon aria-hidden="true">close</md-icon>
    </md-icon-button>
    New chore
  </div>
  <form
    id="create-form"
    slot="content"
    method="dialog"
    class="create-todo-content"
  >
    <md-filled-text-field
      autofocus=""
      label="Chore Name"
      role="presentation"
      inputmode=""
      type="text"
      name="title"
    ></md-filled-text-field>
  </form>
  <div slot="actions">
    <div style="flex: 1"></div>
    <md-text-button form="create-form" value="cancel" role="presentation">
      Cancel
    </md-text-button>
    <md-filled-button form="create-form" value="save" role="presentation">
      Save
    </md-filled-button>
  </div>
</md-dialog>
