<dialog class="create-todo z-10">
  <div class="z-20 bg-white relative p-2 rounded">
    <div class="flex flex-row items-center mb-3">
      <button
        form="create-form"
        value="close"
        aria-label="Close dialog"
        role="presentation"
        class="mr-2 flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </button>
      New chore
    </div>
    <form
      id="create-form"
      slot="content"
      method="dialog"
      class="create-todo-content"
    >
      <textarea
        class="border-2 p-1 rounded"
        autofocus=""
        placeholder="Enter the chore name and hit Enter..."
        name="title"
        ws-send
        hx-trigger="keyup[keyCode==13]"
        id="create-todo-request"
        hx-on="htmx:wsAfterSend: onSubmitTodo()"
      ></textarea>
    </form>
  </div>
</dialog>
